<div class="footer">
    <div class="box">
        <h1><img src="./images/logo.png" alt="iDreamsky" title="iDreamsky"></h1>
        <ul>
            <li class="title">INFORMATION FOR</li>
            <li>Consumers</li>
            <li>Partners</li>
            <li>Job Seekers</li>
            <li>Investors</li>
            <li>Terms of Service</li>
        </ul>
        <ul>
            <li class="title">LOCATION</li>
            <li>16/F,A3 Bld, Kexing</li>
            <li>science Park15 Keyuan Rd,</li>
            <li>Nanshan District, Shenzhen,</li>
            <li>518057, China</li>
        </ul>
        <ul>
            <li class="title">COMPANY FILE</li>
            <li>Founded：2009</li>
            <li>HQ：shenzhen,china</li>
            <li>Offces:shenzhen</li>
            <li>Employees:400+</li>
        </ul>
    </div>
</div>