html,
body {
    width: 100%;
    height: 100%;
    max-width: 750px;
    margin: 0 auto;
}

body.modal-open {
    position: fixed;
    width: 100%;
}

.pixi {
    position: fixed;
    left: 0;
    top: -0.3rem;
    z-index: 4;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    pointer-events: none;
}

.music {
    position: fixed;
    top: .32rem;
    right: .15rem;
    width: .71rem;
    height: .65rem;
    background: url('https://dl.gamdream.com/activity/dream/mhhy/yin-0.png') no-repeat;
    background-size: 100%;
    z-index: 4;
}

.muClose {
    background: url('https://dl.gamdream.com/activity/dream/mhhy/yin-1.png') no-repeat;
    background-size: 100%;
}

#ticket {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    height: 13.34rem;
    position: relative;
    .bj {
        height: 100%;
        height: 13.34rem;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -2;
        img {
            height: 100%;
        }
    }
    .fc {
        width: 100%;
        height: 1.31rem;
        background: url('http://dl.gamdream.com/activity/dream/mhhy/fcc.png') no-repeat;
        background-size: 100%;
        position: fixed;
        left: 0;
        top: 0;
        .head {
            width: .71rem;
            height: .71rem;
            border: .02rem solid #e38e52;
            margin: .3rem .3rem;
            overflow: hidden;
            border-radius: .1rem;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    header {
        width: 100%;
        height: 1.65rem;
        background: transparent;
        background-size: 100%;
        overflow: hidden;
        .head {
            width: .92rem;
            height: .92rem;
            border: .02rem solid #e38e52;
            margin: .22rem .96rem;
            overflow: hidden;
            border-radius: 50%;
            img {
                width: .96rem;
            }
        }
    }
    .middle {
        width: 4.9rem;
        height: 2rem;
        -background: rgba(0, 0, 0, .3);
        margin: 2.1rem 1.3rem 2.3rem;
        flex-wrap: wrap;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        li {
            width: 20%;
            height: 1rem;
            a {
                width: 100%;
                height: 100%;
                display: inline-block;
                img {
                    width: 102%;
                }
            }
        }
    }
    .call {
        width: 100%;
        height: 3.5rem;
        -background: rgba(0, 0, 0, .3);
        -padding-top: .2rem;
        color: #2c82db;
        .text {
            overflow: hidden;
            height: .46rem;
            .left {
                float: left;
                margin-left: .32rem;
                i {
                    display: inline-block;
                    width: .3rem;
                    text-align: center;
                }
            }
            .right {
                float: right;
                font-weight: bold;
                margin-right: .32rem;
            }
            span {
                font-size: .26rem;
                -font-weight: bold;
                text-shadow: 0px 0px .03rem #fff;
                i {
                    color: #fff;
                    display: inline-block;
                    padding: .04rem .06rem;
                    background: #2c82db;
                    border-radius: .05rem;
                }
            }
        }
        ul {
            width: 6.86rem;
            height: 2.6rem;
            padding-top: .3rem;
            margin: 0 auto;
            flex-wrap: wrap;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            li {
                width: 20%;
                height: 1.4rem;
                text-align: center;
                a {
                    display: inline-block;
                    width: 1.02rem;
                    height: 1.02rem;
                    border: .04rem solid #fff;
                    border-radius: 50%;
                    overflow: hidden;
                    img {
                        width: 100%;
                    }
                }
            }
        }
        .btn {
            width: 100%;
            position: absolute;
            left: 0;
            bottom: .5rem;
            text-align: center;
            .Invitation {
                img {
                    width: 3.85rem;
                }
            }
            div {
                width: 100%;
                .calls {
                    float: left;
                    width: 3.4rem;
                    margin-left: .22rem;
                    img {
                        width: 3.4rem;
                    }
                }
                .tickets {
                    float: right;
                    width: 3.3rem;
                    margin-right: .22rem;
                    img {
                        width: 3.3rem;
                    }
                }
            }
        }
    }
    .sum {
        position: absolute;
        left: 0;
        bottom: .1rem;
        width: 100%;
        h3 {
            text-align: center;
            font-size: .22rem;
            color: #5c81cc;
            span {
                font-size: .26rem;
                font-weight: bold;
            }
        }
    }
}

#guide {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    img {
        width: 100%;
    }
}

#hp {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    position: relative;
    z-index: 9999;
    .count {
        height: 2.3rem;
        position: absolute;
        left: 0;
        top: 40%;
        margin-top: -.5rem;
        width: 80%;
        padding: 0 10%;
        text-align: center;
        line-height: 1rem;
        color: #eee;
        img {
            animation: rotate 3s infinite 1.5s linear;
            -webkit-animation: rotate 3s infinite 1.5s linear;
        }
    }
}

#Popup1 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    .layer {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .5);
    }
    .box1,
    .box2,
    .box3,
    .box4,
    .box5,
    .box6,
    .box7,
    .box8,
    .box9 {
        position: fixed;
        left: 50%;
        top: 2rem;
        margin-left: -3.1rem;
        z-index: 100;
        .close {
            width: .53rem;
            position: absolute;
            right: .2rem;
            top: .2rem;
        }
        .top {
            width: 6.2rem;
            height: .85rem;
            background: url('http://dl.gamdream.com/activity/dream/mhhy/top.png') no-repeat;
            background-size: 100%;
            text-align: center;
            line-height: .85rem;
            h3 {
                // margin-right: .8rem;
                font-weight: bold;
                font-size: .32rem;
                color: #fff;
                text-shadow: 0 0 .1rem #a5642d;
            }
        }
        .box_btn {
            width: 100%;
            text-align: center;
            a {
                img {
                    width: 2.31rem;
                    margin: .2rem;
                }
            }
        }
        .middle1 {
            width: 6.2rem;
            background: url('http://dl.gamdream.com/activity/dream/mhhy/middle.png');
            background-size: 100%;
            overflow: hidden;
            padding-bottom: .1rem;
            .count {
                width: 5.76rem;
                height: 3.08rem;
                background: url('http://dl.gamdream.com/activity/dream/mhhy/box-2.png');
                background-size: 100%;
                margin: .2rem auto;
                border-radius: .2rem;
                overflow: hidden;
                h3 {
                    width: 100%;
                    height: .66rem;
                    background: #b56118;
                    text-align: center;
                    line-height: .66rem;
                    font-size: .24rem;
                    color: #fff;
                    margin-top: .57rem;
                    span {
                        color: #f8e63f;
                    }
                }
                div {
                    padding: .48rem;
                    p {
                        color: #b56118;
                        text-align: center;
                        font-size: .24rem;
                    }
                }
            }
        }
        .middle2 {
            width: 6.2rem;
            background: url('http://dl.gamdream.com/activity/dream/mhhy/middle.png');
            background-size: 100%;
            overflow: hidden;
            padding-bottom: .1rem;
            .count {
                width: 5.76rem;
                height: 3.08rem;
                background: url('http://dl.gamdream.com/activity/dream/mhhy/box-2.png') no-repeat;
                background-size: 100%;
                margin: .2rem auto;
                border-radius: .2rem;
                overflow: hidden;
                div {
                    padding: 1.2rem .5rem;
                    p {
                        color: #b56118;
                        text-align: center;
                        font-size: .24rem;
                    }
                }
            }
        }
        .middle3 {
            width: 6.2rem;
            background: url('http://dl.gamdream.com/activity/dream/mhhy/middle.png');
            background-size: 100%;
            overflow: hidden;
            .count {
                width: 5.76rem;
                background: url('http://dl.gamdream.com/activity/dream/mhhy/box-5.png');
                background-size: 100%;
                margin: .26rem auto 0;
                border: .02rem solid #bb8f5e;
                border-radius: .2rem;
                overflow-y: auto;
                div {
                    padding: .30rem .2rem;
                    p {
                        color: #b56118;
                        // text-align: center;
                        font-size: .24rem;
                        line-height: .45rem;
                    }
                }
            }
        }
        .middle4 {
            width: 6.2rem;
            background: url('http://dl.gamdream.com/activity/dream/mhhy/middle.png');
            background-size: 100%;
            overflow: hidden;
            .count {
                width: 5.76rem;
                height: 2.06rem;
                background: url('http://dl.gamdream.com/activity/dream/mhhy/box-2.png') no-repeat;
                background-size: 100%;
                margin: .26rem auto 0;
                border: .02rem solid #bb8f5e;
                border-radius: .2rem;
                overflow: hidden;
                p {
                    font-size: .3rem;
                    color: #704723;
                    text-align: center;
                    margin: .8rem auto;
                }
            }
        }
        .middle5 {
            width: 6.2rem;
            background: url('http://dl.gamdream.com/activity/dream/mhhy/middle.png');
            background-size: 100%;
            overflow: hidden;
            .count {
                width: 5.76rem;
                height: 2.06rem;
                background: url('http://dl.gamdream.com/activity/dream/mhhy/box-2.png') no-repeat;
                background-size: 100%;
                margin: .26rem auto 0;
                border: .02rem solid #bb8f5e;
                border-radius: .2rem;
                overflow: hidden;
                p {
                    font-size: .3rem;
                    color: #704723;
                    text-align: center;
                    margin: .6rem auto;
                }
            }
        }
        .middle6 {
            width: 6.2rem;
            background: url('http://dl.gamdream.com/activity/dream/mhhy/middle.png');
            background-size: 100%;
            overflow: hidden;
            .count {
                width: 5.76rem;
                height: 2.06rem;
                background: url('http://dl.gamdream.com/activity/dream/mhhy/box-2.png') no-repeat;
                background-size: 100%;
                margin: .26rem auto 0;
                border: .02rem solid #bb8f5e;
                border-radius: .2rem;
                overflow: hidden;
                p {
                    font-size: .3rem;
                    color: #704723;
                    text-align: center;
                    margin: .8rem auto;
                }
            }
        }
        .middle9 {
            width: 6.2rem;
            background: url('http://dl.gamdream.com/activity/dream/mhhy/middle.png');
            background-size: 100%;
            overflow: hidden;
            .count {
                width: 5.76rem;
                height: 2.06rem;
                background: url('http://dl.gamdream.com/activity/dream/mhhy/box-2.png') no-repeat;
                background-size: 100%;
                margin: .26rem auto 0;
                border: .02rem solid #bb8f5e;
                border-radius: .2rem;
                overflow: hidden;
                margin-bottom: .1rem;
                p {
                    font-size: .3rem;
                    color: #704723;
                    text-align: center;
                    margin: .66rem auto;
                }
            }
        }
        .bottom {
            width: 6.2rem;
            height: .34rem;
            background: url('http://dl.gamdream.com/activity/dream/mhhy/bottom.png') no-repeat;
            background-size: 100%;
        }
    }
    .box3 {
        position: fixed;
        left: 50%;
        top: 1.32rem;
    }
}